body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 18, 18);
}

footer h3 {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 20px;
  justify-content: center;
  align-content: center;
}

.flexbox {
  display: flex;
}

.nav {
  flex-direction: row;
  justify-content: center;
  margin: 25px 100px 0 0;
}

.menu {
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 25px;
}

a:active,
a:hover {
  text-decoration: underline;
  color: blue;
}

.menu a {
  margin: 0 20px;
  justify-content: space-evenly;
}
